table {
    width: 100%;
}

.loadingSppiner {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #bababa;
}

.callReceived {
    color: red;
}

.callMissed {
    color: green;
}