<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            <span>Relatório</span>
        </mat-toolbar>
        <!--  dataSource verfica somente se a variavel foi iniciarlizada, nao verifica se ela esta retornando dados -->
        <!-- | async passa toda a resposabilidade de gerenciamento para o angular, se inscreve no observable e verifica se ele esta retornando dados, com isso e possivel executar o else -->
        <!-- as relatorio evita de se inscrever mais de uma vez no observable para buscar o mesmo dado, evitando desperdicio de memoria -->
        <div *ngIf="dataSource$ | async as relatorio; else elseBlock">
            <table mat-table [dataSource]="relatorio" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                <!-- Data Column -->
                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef> Data </th>
                    <td mat-cell *matCellDef="let element"> {{element.data}} </td>
                </ng-container>

                <!-- Hora Column -->
                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef> Hora </th>
                    <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                </ng-container>

                <!-- Origem Column -->
                <ng-container matColumnDef="origem">
                    <th mat-header-cell *matHeaderCellDef> Origem </th>
                    <td mat-cell *matCellDef="let element"> {{element.origem}} </td>
                </ng-container>

                <!-- Destino Column -->
                <ng-container matColumnDef="destino">
                    <th mat-header-cell *matHeaderCellDef> Destino </th>
                    <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
                </ng-container>

                <!-- Situacao Column -->
                <ng-container matColumnDef="situacao">
                    <th mat-header-cell *matHeaderCellDef> Situação </th>
                    <td mat-cell *matCellDef="let element"> {{element.situacao}}
                        <div *ngIf="element.situacao == 'Não atendida'; else elseBlock">
                            <mat-icon aria-hidden="false" aria-label="a'Situacao da chamada" class="callReceived">{{
                                element.situacao |
                                situacao}}
                            </mat-icon>
                        </div>
                        <ng-template #elseBlock>
                            <mat-icon aria-hidden="false" aria-label="a'Situacao da chamada" class="callMissed">{{
                                element.situacao |
                                situacao}}
                            </mat-icon>
                        </ng-template>
                    </td>
                </ng-container>
                <!-- Duracao Column -->
                <ng-container matColumnDef="duracao">
                    <th mat-header-cell *matHeaderCellDef> Duração </th>
                    <td mat-cell *matCellDef="let element"> {{element.duracao}} </td>
                </ng-container>

                <!-- Protocolo Column -->
                <ng-container matColumnDef="protocolo">
                    <th mat-header-cell *matHeaderCellDef> Protocolo </th>
                    <td mat-cell *matCellDef="let element"> {{element.protocolo}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <ng-template #elseBlock>
            <div class="loadingSppiner">
                <mat-spinner></mat-spinner>
            </div>

        </ng-template>
    </mat-card-content>
</mat-card>